---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { supabase } from '../lib/supabase/supabaseClient';
import { getSampleMovies } from '../scripts/fetch-movies';
import { generateAndSaveMovies } from '../scripts/generate-and-save';

const { data: posts, error } = await supabase
	.from('posts')
	.select('*')
	.limit(5);

const result = await generateAndSaveMovies();
console.log("generateAndSaveMovies result:", result);
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Welcome /> -->
	<h1> Latest Posts </h1>
	{error ? <p>Error loading posts</p> : (
		<ul>
			{posts.map(p => 
			<li>
				<a href={`/posts/${p.slug}`}>
				{p.title}
				</a>
			</li>
			)}
		</ul>
	)}
</Layout>
