---
import AuthWidget from "../components/AuthWidget";
import SubscribeForm from "../components/SubscribeForm";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>My Daily Feed</title>
	</head>
	<body>
		<header>
			<h2>My Daily Feed</h2>
			<!-- client:load ensures React Hydrates only on the client -->
			<AuthWidget client:load />
		</header>
		<slot />
		<footer>
			<SubscribeForm client:load />
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
